.modal-header {
    background-color: #007bff;
    color: white;
  }
  
  .modal-header button {
    color: white;
  }
  
  .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-group-toggle label:not(:first-of-type) {
    border-left: none;
  }
  
  .btn-group-toggle label:not(:first-of-type)::before {
    border-left: none;
  }
  